#cloud-config
ssh_pwauth: true
users:
  - default
  - name: ${username}
    shell: /bin/bash
    lock_passwd: false
    groups:
      - sudo
    passwd: ${password_hash}
    sudo: ALL=(ALL) NOPASSWD:ALL
packages:
  - qemu-guest-agent
runcmd:
  - systemctl enable --now qemu-guest-agent
%{ if create_vg ~}
  - vgcreate openebs-lvm /dev/vdb
%{ endif ~}
